<!DOCTYPE html>
<html lang="en">

<head>
  {% include 'head.html' %}
</head>

<body>
  {% include 'app_header.html' %}

  <div class="app-container">
    
    <!-- Form Container -->
    <div class="form-container">
      <form id="primer-form" hx-post="{{ url_for('main.generate_protocol') }}" hx-trigger="submit"
        hx-target="#results-container" hx-swap="innerHTML" hx-ext="json-enc" hx-validate="true"
        hx-on::before-request="console.log('Making request...')" hx-on::after-request="console.log('Request complete')">

        <!-- Template Sequence Section -->
        {% include 'template_sequence.html' %}

        <!-- Sequences to Domesticate Section -->
        {% include 'sequences_to_domesticate.html' %}

        <!-- Form Buttons -->
        {% include 'form_buttons.html' %}
      </form>
    </div>
    <!-- End of Form Container -->

    <!-- Results Sections -->
    <div id="results-container" class="results-container">
      {% if results %}
      {% include 'results_partial.html' %}
      {% endif %}
    </div>
    <!-- Primer Anatomy Section -->
    <div class="primer-anatomy-container" style="display: none;">
      {% include 'primer_anatomy.html' %}
    </div>
  </div>
  <!-- End of App Container -->

</body>

</html>