/* SequenceInput.css */

.sequence-input-wrapper {
    width: 100%;
  }
  
  .sequence-textarea {
    width: 100%;
    min-height: 100px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: monospace;
    resize: vertical;
    transition: border-color 0.3s ease;
    color: var(--text-muted) !important
  }
  
  .form-control.sequence-textarea {
    font-size: 0.6rem;

  }

  .sequence-textarea:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  
  /* Dark Mode */
  .dark-mode .sequence-textarea {
    background-color: #2c2c2c;
    color: var(--text-muted) !important;
    border: 1px solid #555;
  }
  
  .dark-mode .sequence-textarea:focus {
    border-color: #48A9FF;
    box-shadow: 0 0 0 0.2rem rgba(72, 169, 255, 0.25);
  }

  /* --- Sequence Section --- */
.sequence-content {
  max-width: 800px;
  margin: 10px auto;
  background: var(--color-eggshell);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.sequence-input,
.dynamic-sequence-input {
  min-width: 100%;
  overflow-wrap: break-word;
  color: var(--text-muted);
  font-family: "Fira Code", Consolas, Monaco, monospace;
  width: 100%;
  min-height: 8rem; /* Equivalent to 80px */
  font-size: 0.6rem;
  border: 1px solid var(--border-color);
  border-radius: 0.375rem;
  background-color: white;
  resize: vertical;
  margin-top: 0.5rem; /* added from dynamic-sequence-input */
}