.sidebar {
  position: sticky;
  left: 0;
  top: 115px; /* Adjusted to account for header height */
  width: 250px;
  height: 100vh;
  background: var(--background-color);
  border-right: 1px solid var(--border-color);
  padding: 10px;
  max-height: calc(100vh - 115px); /* Prevents sidebar from overflowing the viewport */
  overflow-y: auto;}

.sidebar h3 {
  text-align: center;
  margin-top: 0;
  color: var(--text-dark);
}

.sidebar-header {
  margin-top: 40px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-item {
  display: flex;
  align-items: center;
  gap: 8px; /* Adds spacing between elements */
  padding: 8px;
  cursor: pointer;
  border-bottom: 1px solid var(--border-color);
  color: var(--text-dark);
  transition: background-color 0.2s, color 0.2s;
}

/* Different active states for light and dark modes */
.sidebar-item.active {
  background-color: var(--primary-inactive);
}

.dark-mode .sidebar-item.active {
  background-color: rgba(217, 3, 104, 0.3); /* Adjusted opacity for dark mode */
  color: var(--foreground-color);
}

/* Different hover states */
.sidebar-item:hover {
  background-color: var(--primary-hover);
  color: var(--foreground-color);
}

.dark-mode .sidebar-item:hover {
  background-color: var(--primary-hover);
  color: var(--foreground-color);
}

.sidebar-item-info {
  display: flex;
  flex-direction: column;
}

.error-icon {
  margin-left: 5px;
  color: var(--error-color);
}

/* For better dark mode contrast on light elements */
.dark-mode .sidebar {
  box-shadow: 0 0 10px var(--shadow-color);
}

.error-badge-container {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: red;
  color: white;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  line-height: 24px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.error-badge {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.checkmark-container {
  color: limegreen;
  font-size: 24px;
}

.sidebar-item-info {
  display: flex;
  flex-direction: row; /* Ensure items stay in a row */
  align-items: center;
  gap: 8px; /* Adjust spacing between icon, primer name, and length */
  flex-grow: 1; /* Allow it to take up remaining space */
  overflow: hidden;
  white-space: nowrap;
}

.primer-name {
  flex-grow: 1; /* Allow primer name to take up available space */
  text-overflow: ellipsis;
  overflow: hidden;
}

.primer-length {
  font-size: 14px;
  color: var(--text-light);
}